src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

	<http:listener-config name="http8081" host="localhost" port="8081" doc:name="HTTP Listener Configuration" />

	<flow name="main">
		<http:listener config-ref="http8081" path="/component" doc:name="HTTP" />
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties.'http.query.params'.type == 'map']">
				<set-payload value="#[{'message' : 'i am a map'}]" doc:name="Set Payload"/>
				<flow-ref name="componentExample" doc:name="Flow Reference" />
			</when>
			<when expression="#[message.inboundProperties.'http.query.params'.type == 'array']">
				<set-payload value="#[['i am an array node']]" doc:name="Set Payload" />
				<flow-ref name="componentExample" doc:name="Flow Reference" />
			</when>
			<when expression="#[message.inboundProperties.'http.query.params'.type == 'string']">
				<set-payload value="i am a string" doc:name="Set Payload" />
				<flow-ref name="componentExample" doc:name="Flow Reference" />
			</when>
			<otherwise>
				<logger message="Could not locate requested path" doc:name="Logger" />
			</otherwise>
		</choice>
		<json:object-to-json-transformer doc:name="Object to JSON" />
	</flow>

	<flow name="componentExample">
		<component  doc:name="MuleLifecycleComponent-Java" >
            <singleton-object class="com.mulesoft.training.MuleComponent"/>
        </component>
        <component doc:name="MuleLifecycleComponent-Java">
            <singleton-object class="com.mulesoft.training.MuleLifecycleComponent"/>
        </component>
	</flow>

</mule>
